@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('/grain.jpg');
  opacity: 0.10;   /* VERY important — keep it subtle */
  pointer-events: none;
  z-index: 9999;
}

